@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <h1 class="display-4 mb-4">¡Hola Mari! 🎉</h1>

    <div class="row align-items-center justify-content-center">
        <div class="col-md-6 mb-4">
            <div class="p-4 border rounded shadow-sm bg-light">
                <p class="lead">
                    Ya sé cómo desplegar el proyecto. <br />
                    Tendría un costo mínimo de <strong>$10 al mes</strong> por la base de datos.
                    <br />
                    El envío de correos y otros servicios los tenemos <strong>gratis</strong>. ✅
                    <br />
                    Ahora, lo malo es que me di cuenta que en <strong>.net</strong>, los hostings son muy caros,
                    este es el mas barato que encontre.Y en si, conectarlo con el servicio de imgs no se que tan difícil sea
                    pero bueno, por lo menos ya tenemos un problema menos.
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <img src="~/imgs/billing.jpg"
                 alt="Costos del proyecto"
                 class="img-fluid rounded shadow-sm" />
        </div>
    </div>
</div>
